@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Dancing+Script:wght@700&family=Lobster&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Caveat:wght@400;700&family=Dancing+Script:wght@700&family=Lobster&family=Playfair+Display:ital@1&display=swap');



.card{
    border: 2px solid black;
    background-image: url("../../imagen/menu.jpg");
    height: 700px;
    width: 400px;
    margin: 10px;
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    height: 100px;
    width: 100%;
    font-size: 40px;
    color:white ;
    font-family: 'Caveat', cursive;
    margin-top:230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    margin-top:-20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    color: white;
    border-radius: 15px;
    border: none;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
}

.imagen{
    margin-top: -20px;
    border-radius: 30px;
    width: 300px;
    height: 220px;
    display: flex;
    border: 3px solid black;
    bottom: 0;
    object-fit:cover;
}

