#root{
    height: 100%;
    width: 100%;
    position:absolute;
}

.colum{
    display: flex;
    flex-direction: column;
}

.colum h1{
    width: max-content;
    margin-left: 650px;
    margin-bottom:60px;
    margin-top: -40px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.colum-home{
    display: flex;
    width: 100px;
    height: 100px;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputs input{
    margin-top: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.inputs p{
    height: 15px;
    margin-top: 1px;
    display: flex;
    color: red;
}

.inputs-left{
    display: flex ;
    flex-direction: column;
}

.inputs-rigth{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
}

.inputs-rigth input{
    display: flex; 
    margin-top: 10px; 
    height: 20px;
    margin-left: 30px ;
    width: 500px;
}

.inputs-rigth button{
    display: flex;
    margin-left: 200px;
    width: 200px;
    margin-top: 20px;
    color: black;
    border: 0.3rem solid black;
}


.creardietas{
    display: flex;
    height: max-content;
    width: max-content;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.check{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.check-sub{
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.check-sub input{
    margin-top: 24px;
    cursor: pointer;
}



.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
  }
  
  .bn37 {
    border-color: transparent;
    background-color: #fff;
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
    
  .bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    cursor: pointer;
  }

  .bn36 {
    border-color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
  .bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    cursor: pointer;
  }