
.searchBar{
    position: absolute;
    left: 50px;
    top: 10%
}

.searchBar{
    display: flex;
    margin-top: -50px;
    border-radius: 30px;
    border: 2px solid black;
}

.buscar{
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: bold ;
    font-size: 25px;
    border: none;
    width: 420px;
    height: 30px;
    display: flex;
    justify-content: center;
    top: 25%;
    position: relative;
    outline:none;
    padding: 20px;
}

.boton2{
    background-color: transparent;
    margin-top: 10px;
    border: 0px;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.boton2:hover{
    border-radius: 100%;
    background-color: aliceblue;
}

.boton2 img{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}