.paginado{
    align-items: center;
    display: flex;
    margin-top: 90px;
    height: auto;
    margin-bottom: 0;
}

ul.paginado{
    display: flex;
    flex-direction: row;
}

.paginado li{
    justify-content: center;
    color: black;
    padding:20px;
    width: 10px;
    height: 10px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    cursor: pointer;
    margin-left: 15px;
    user-select: none;
}

li.paginado:hover{
    background-color: #dff9fb;
    transform: scale(1.2);
}
