.paginado{
    display: inline-block;
    justify-content: center;
    height: max-content;
    margin-top: 73px;
    margin-left: 5px;
}

ul{
    display: flex;
    flex-direction: row;
}

li.paginado{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
    
}

li.paginado:hover{
    background-color: #ff7675;
}

